{% extends 'base.html' %}

{% block content %}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  
<style>
    
    table {
        border: 3px solid black;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 70%;
    }
    
    td, th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }

    
    <!-- tr:nth-child(even) {
      background-color: #dddddd;
    } -->
</style>
</head>
<body background="https://chungcu365.com/uploads/22/a-119/20191211160802-763a.jpg">
    <div class="container mt-3" style="overflow-x:auto;">      
    <h1>{% block title %} Thêm loại phòng {% endblock %}</h1>
    <table  bordercolor="#000000" >
        <thead bordercolor="#000000" >
            <tr bordercolor="#000000">
                <th>Tên phòng</th>
                <th>Diện tích</th>
                <th>Số khách tối đa</th>
                <th>Kích thước giường</th>
                <th>Số lượng giường</th>
                <th>Mô tả khác</th>
                <th>Mã loại vật tư</th>
                <th>Số lượng vật tư</th>
            </tr>
            </thead>
            <tbody bordercolor="#000000">
                <div class = "phong" bordercolor="#000000">

    <form method="post" onsubmit="myFunction()">
    <td>
        <p>
            <label for="ten"></label>
            <input type="text" name="ten"
                   placeholder="VD: nho, lon, vua">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="dien_tich"></label>
            <input type="number" name="dien_tich"
                   placeholder="m^2">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="so"></label>
            <input type="number" name="so"
                   placeholder="> 0 and < 10">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="khac"></label>
            <input type="text" name="kt_giuong"
                   placeholder="Float number, vd: 1.0">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="khac"></label>
            <input type="text" name="sl_giuong"
                   placeholder="1,2,3,....">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="khac"></label>
            <input type="text" name="mo_ta"
                    placeholder="Mô tả khác">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="khac"></label>
            <input type="text" name="id_vat_tu"
                    placeholder="VT[0-9][0-9][0-9][0-9] vd: VT0001">
            </input>
        </p>
    </td>
    <td>
        <p>
            <label for="khac"></label>
            <input type="text" name="sl_vattu"
                   placeholder="1,2,3,....">
            </input>
        </p>
    </td>
            
        <p>
            <button type="submit">Nhấn vào đây để thêm phòng</button>
        </p>
    </form>
    </div>
    </tbody>
    </table>
    <script>
        function myFunction() {
          alert("Submit successfully!");
        }
        </script>
</body>
{% endblock %}